<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @instagram_tag } %>
<div class="row">
  <div id="general_fields" class="alpha thirteen columns">
    <div class="alpha four columns">
      <%= f.field_container :name do %>
        <%= f.label :name %>
        <span class="hashtag">#</span>
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>
  </div>
</div>